
body{
		background: black;


        
}


#jishi{
	font-size: 24px;
	text-align: center;
	position:relative;top:920px;left: 75px;
	color: white;
	}

	html, body {
  height: 100%;
}

/*p {
  margin: 0;
  padding: 0;
}*/

#clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  position:relative;top:0px;left: 170px;

}
#clock .time {
  letter-spacing: 0.05em;
  font-size: 20px;
  padding: 1px 0;
}
#clock .date {
  letter-spacing: 0.05em;
  font-size: 6px;
}
#clock .text {
  letter-spacing: 0.05em;
  font-size: 3px;
  padding: 5px 0 0;
  

}



